version: "3"

services:
    ubuntu:
        build: .
        image: pwn-docker:1.5
        env_file:
            - user.env
        ports: 
            - "5561:22"
        volumes: 
            - "./config:/config"
        restart: always
        tty: true